@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-shadow {
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 6px;
}

.custom-shadow:hover {
  box-shadow: 0px 4px 40px rgba(130, 71, 229, 0.4) !important;
}

@media (min-width: 1560px) {
  .max-w-1560 {
    max-width: 1560px !important;
  }

  .custom-max-width {
    max-width: 85% !important;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1350px) {
  .custom-width-for-header {
    height: calc(100vw * 0.5) !important;
    max-height: 1560px !important;
    margin-bottom: -230px;
  }
}

/* Apply custom scrollbar globally */
::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

body {
  background-color: #ece8ff;
  /* fontFamily: "General Sans", */
  /* font-family: "General Sans"; */
  /* font-family: "General Sans"; */
}

@layer components {
  /* Define a custom shadow class */
  .shadow-card {
    box-shadow: 0px 1px 1px 0px #703aca14;
    /* Adjust this to match your desired shadow */
  }

  .agent-card {
    @apply px-4 py-6 bg-white border rounded-md shadow-card outline-[#EEEFF2];
  }

  .agent-image {
    @apply object-cover w-[78px] h-[78px] rounded-full;
  }

  .agent-name {
    @apply font-semibold text-cardText text-[16px] leading-[25.6px];
  }

  .agent-title {
    @apply text-sm font-medium text-cardText;
  }

  .divider {
    @apply my-4 border-t-2 border-gray-200;
  }

  .button-primary {
    @apply w-full text-white py-[5px] px-3 mt-3 rounded-sm text-sm font-semibold leading-[22.4px] bg-accent;
  }

  .button-secondary {
    @apply w-full py-[5px] px-3 my-2 text-accent rounded-sm;
  }

  .rating-text {
    @apply text-sm text-cardText font-semibold leading-[22.4px];
  }
}

.custom-swiper-button {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 6.5px;
  height: 10.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-swiper-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.custom-swiper-button {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  margin: auto 0;
}

.swiper-btn-prev {
  left: 10px;
}

.swiper-btn-next {
  right: 10px;
}
